{%- if site.tags.size > 0 %}
  {%- if include.header %}
<h3>{% include translation text='tags' %}</h3>
  {%- endif %}
<ul>
  {%- capture tags %}
  {%- for item in site.tags %}
    {{ item[0] }}#{{ item[1].size }}
  {%- endfor %}
  {%- endcapture %}
  {%- assign sortedtags = tags | split:' ' | sort %}
  {%- for item in sortedtags %}
    {%- assign tag_array = item | split: '#' %}
    {%- assign tag = tag_array[0] %}
    {%- assign count = tag_array[1] %}
    {%- assign label = site.data.labels.tags[tag] | default: tag %}
    {%- assign href = '/tags/' | append: tag %}
  <li><a{% if href == page.url %} class="active"{% endif %} href="{{ site.baseurl | append: href }}">{{ label }} ({{ count }})</a></li>
  {%- endfor %}
</ul>
{%- endif -%}
