{%- for post in site.posts %}
  {%- assign currentdate = post.date | date: "%Y" -%}
  {%- if currentdate != date %}
    {%- unless forloop.first %}
</ul>
    {%- endunless %}
<h2 id="year-{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
<ul class="post-list-archive">
    {%- assign date = currentdate -%}
  {%- endif %}
<li>
  <a href="{{ post.url | relative_url}}">{{ post.title }}</a>
  {%- if site.show_lang_in_post_listings == true %}
  <span class="post-meta">({{post.lang}})</span>
  {%- endif %}
  {%- if post.subtitle %}
  <br><span class="post-meta">{{ post.subtitle }}</span>
  {%- endif %}
</li>
  {%- if forloop.last %}
</ul>
  {%- endif %}
{%- endfor %}
