<p><a href="{{ site.baseurl }}{{ include.path }}/" target="_blank">{% include translation text='slides_open' lang=page.lang %}</a></p>

<div class="post-meta">
  <p>{% include translation text='slides_hint_browser' lang=page.lang %}:</p>
  <ul>
    <li><code>Space</code> = {% include translation text='slides_next' lang=page.lang %}</li>
    <li><code>Shift</code> + <code>Space</code> = {% include translation text='slides_previous' lang=page.lang %}</li>
    <li><code>Esc</code> = {% include translation text='slides_overview' lang=page.lang %}</li>
    <li><code>?</code> = {% include translation text='slides_shortcuts' lang=page.lang %}</li>
    <li>{% include translation text='slides_hint_links' lang=page.lang %}</li>
    <li><a href="{{ site.baseurl }}{{ include.path }}/slides.html">{% include translation text='slides_raw_html' lang=page.lang %}</a></li>
    <li><a href="{{ site.baseurl }}{{ include.path }}/slides.md">{% include translation text='slides_raw_markdown' lang=page.lang %}</a></li>
  </ul>
</div>
