<p><a href="{{ site.baseurl }}/slides/{{ include.dir_name }}/" target="_blank">{% include translation lang=include.lang text='slides_open' %}</a></p>

<div class="post-meta">
  <p>{% include translation lang=include.lang text='slides_hint_browser' %}:</p>
  <ul>
    <li><code>Space</code> = {% include translation lang=include.lang text='slides_next' %}</li>
    <li><code>Shift</code> + <code>Space</code> = {% include translation lang=include.lang text='slides_previous' %}</li>
    <li><code>Esc</code> = {% include translation lang=include.lang text='slides_overview' %}</li>
    <li><code>?</code> = {% include translation lang=include.lang text='slides_shortcuts' %}</li>
    <li>{% include translation lang=include.lang text='slides_hint_links' %}</li>
    <li><a href="{{ site.baseurl }}/slides/{{ include.dir_name }}/slides.html">{% include translation lang=include.lang text='slides_raw_html' %}</a></li>
    <li><a href="{{ site.baseurl }}/slides/{{ include.dir_name }}/slides.md">{% include translation lang=include.lang text='slides_raw_markdown' %}</a></li>
  </ul>
</div>
